@using StoreFront.Models;
@model IEnumerable<StoreFront.Models.Treat>

<h4>Pierre's Scrumptious Offerings</h4>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Show", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>No treats have been added yet!</h3>
}
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add new treat", "Create")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>


